html {
  font-size: 14px;
}

@media (min-width: 800px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: black;
}

body {
    margin-bottom: 100px;
    background-image: url(../Resources/MainPageBack.jpg);
    
}
.col-1-3
{
    float:left;
    width:20%;
    text-decoration:none;
}
.BtnFilter {
    text-decoration: none;
    color: white;
    border-color: white;
    border-bottom-width: medium;
    margin-left:10px;
}
.Filter{
    margin-left:10px;
}
.col-1-2
{
    
    float:right;
    width:90%;
}
a:hover {
    color: white;
    text-decoration:none;
}
a
{
    text-align:match-parent;
    color:white;
}
.row {
    display:inline-block;
    width:75%;
}
.main {
}
.container-fluid{
    background-color:black;
}
.Headerr{
    background-color:black;
}
.container-fluid
{
    color:white;
}
.navbar-brand{
    color:white;
}
.navbar-toggler{
    color:white;
}


