body {

}
.col-1-3 {
    width: 15%;
    float: left;
    margin-left:5%;
}
.col-1-2 {
    width: 85%;
    float: left;
}
.BtnFilter
{
    text-decoration:none;
    color:black;
    
    background-color:green;
    text-align:left;
}

a:hover
{
    color:black;
}
.row
{
    
}